html, body, div, span, applet, object, iframe, h4, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.spMenu {
  transform: translateX(-110%);
  transition: .5s;
  position: relative;
  z-index: 100;
}
.spMenu .spMenu-container {
  position: absolute;
  background-color: white;
  opacity: 0.9;
  width: 100%;
  text-align: center;
}
.spMenu .spMenu-container ul {
  list-style: none;
}
.spMenu .spMenu-container li {
  font-size: 4vh;
  line-height: 10vh;
  text-decoration: none;
  list-style: none;
}

.spMenu.active {
  transform: translateX(0);
}

body {
  width: 99.5%;
  margin: 0 auto;
  background-color: #f0f0f0;
}
body section {
  display: flex;
  justify-content: space-between;
}
body .menu {
  width: 30%;
  min-height: 100vh;
  background-color: skyblue;
}
@media screen and (max-width: 600px) {
  body .menu {
    display: none;
  }
}
body .menu h1 {
  font-size: 30px;
  font-weight: normal;
  padding: 5px;
  text-align: center;
  background-color: yellow;
}
body .menu ul {
  list-style: none;
  text-align: center;
}
body .menu a {
  text-decoration: none;
  font-size: 35px;
  line-height: 100px;
  font-weight: bold;
  color: white;
}
body .menu a:hover {
  color: black;
  transition: 0.3s;
}
body .content {
  width: 30%;
  padding-top: 2%;
}
@media screen and (max-width: 600px) {
  body .content {
    width: 81%;
    margin: 0 auto;
  }
}
body .content h1 {
  text-align: center;
  font-size: 3vh;
}
body .content h1:after {
  display: block;
  content: "";
  width: 7rem;
  border-bottom: 1px solid black;
  margin: 0.5rem auto;
}
body .content p {
  font-size: 2vh;
  line-height: 3.5vh;
}
body .content a {
  font-size: 2vh;
  line-height: 3.5vh;
  padding-left: 7vw;
}
body .sns {
  padding-top: 5%;
  width: 30%;
  text-align: center;
  background-color: #f0f0f0;
}
@media screen and (max-width: 600px) {
  body .sns {
    display: none;
  }
}
body .sns h2 {
  font-size: 30px;
  margin-bottom: 0;
}
body .sns h3 {
  margin-top: 4vh;
  margin-bottom: 0;
}
body .sns ul {
  list-style: none;
  line-height: 10vh;
}
body .sns ul .instagram {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
body .sns ul .twitter {
  background-color: #55acee;
}
body .sns ul .github {
  background-color: black;
}
body .sns ul .wantedly {
  background-color: blue;
}
body .sns ul .btn {
  border-radius: 4px;
  color: white;
  padding: 3px;
}
body .sns ul .btn :hover {
  opacity: 0.6;
}
body .sns a {
  text-decoration: none;
  font-size: 3vh;
}
body .sns a :hover {
  opacity: 0.6;
}

.content {
  opacity: 1;
  animation: wi-op-anime 3.5s ease 0s 1 alternate;
}

@keyframes wi-op-anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  display: none;
}
@media screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    font-size: 2vh;
    padding-left: 5%;
    padding-right: 5%;
  }
  header h1 {
    color: white;
  }
  header .ham {
    display: none;
  }
}
@media screen and (max-width: 600px) and (max-width: 600px) {
  header .ham {
    width: 25px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header .ham span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}

.about .menu1 {
  color: black;
}
.about .content h2 {
  text-align: center;
  margin-top: 10vh;
}
.about .content p {
  line-height: 4vh;
}

.career .menu2 {
  color: black;
}
.career .content {
  text-align: center;
}
.career .content h2 {
  margin-top: 6vh;
  margin-bottom: 2vh;
}
.career .content p {
  padding: 0;
  font-size: 18px;
  text-align: center;
}
.career .content a {
  padding: 0;
  font-size: 18px;
  text-decoration: none;
  color: gray;
}
.career .content a:hover {
  color: blue;
  transition: 0.3s;
}

.skill .menu3 {
  color: black;
}
.skill .content h2 {
  padding-left: 5vh;
  margin-top: 5vh;
}
.skill .content ul {
  margin-bottom: 5vh;
  padding-left: 10vh;
}
.skill .content ul li {
  font-size: 18px;
  line-height: 4vh;
  position: relative;
}
.skill .content ul li::after {
  display: block;
  content: '';
  position: absolute;
  top: 1vh;
  left: -3vh;
  width: 1.5vh;
  height: 0.5vh;
  border-left: 0.25vh solid #3498db;
  border-bottom: 0.25vh solid #3498db;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.activity .menu4 {
  color: black;
}
.activity .content h2 {
  color: yellowgreen;
  text-align: center;
  margin-top: 6vh;
}
.activity .content h3 {
  text-align: center;
  margin-top: 5vh;
}
.activity .content p {
  line-height: 4vh;
}

.like .content h2 {
  padding-left: 5vh;
  margin-top: 5vh;
}
.like .content ul {
  margin-bottom: 5vh;
  padding-left: 10vh;
}
.like .content ul li {
  font-size: 18px;
  line-height: 4vh;
  position: relative;
}
.like .content ul li::after {
  display: block;
  content: '';
  position: absolute;
  top: 1vh;
  left: -3vh;
  width: 1.5vh;
  height: 0.5vh;
  border-left: 0.25vh solid #3498db;
  border-bottom: 0.25vh solid #3498db;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.contact .content {
  padding-top: 5%;
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
}
.contact .content h2 {
  font-size: 30px;
  margin-bottom: 0;
}
.contact .content h3 {
  margin-top: 4vh;
  margin-bottom: 0;
}
.contact .content ul {
  list-style: none;
  line-height: 10vh;
}
.contact .content ul .instagram {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
.contact .content ul .twitter {
  background-color: #55acee;
}
.contact .content ul .github {
  background-color: black;
}
.contact .content ul .wantedly {
  background-color: blue;
}
.contact .content ul .btn {
  border-radius: 4px;
  color: white;
  padding: 3px;
}
.contact .content ul .btn :hover {
  opacity: 0.6;
}
.contact .content a {
  text-decoration: none;
  font-size: 3vh;
}
.contact .content a :hover {
  opacity: 0.6;
}

/*# sourceMappingURL=main.css.map */
