.activity{
    .menu4{
        color: black;
    }
    .content{
        h2{
            color: yellowgreen;
            // padding-left: 7vh;
            text-align: center;
            margin-top: 6vh;
        }
        h3{
            text-align: center;
            margin-top: 5vh;
        }
        p{
            line-height: 4vh;
        }
    }
}